/* @import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'; */

body {
  display: grid;
  gap: 2em;
  place-content: center;
  font-size: 1.5em;
}
.myClass {
  outline: 2px dotted cyan;
}
.red {
  color: red;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}
