.page__header {
	padding-top: 32px;
}

.header__title-tag {
	display: block;
	font-size: 14px;
	color: $accentColor;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 25px;
}

.header__title {
	margin: 0;
	text-transform: uppercase;
	line-height: 1.5;
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-weight: 400;
	@media (min-width: 768px) {
	}
}

.header__subtitle {
	max-width: 85%;
	margin: 0 auto;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 300;
	color: rgb(189, 189, 189);
	@media (min-width: 768px) {
		max-width: 100%;
	}
}
.header__wrapper {
	@media (min-width: 768px) {
		display: flex;
		flex-direction: column;
		max-height: 300px;
		flex-wrap: wrap;
	}
}
.header__item {
	text-align: center;
	@media (min-width: 768px) {
		width: 7 * 8.33%;
		text-align: left;
	}
}
.header__img {
	display: block;
	text-align: center;
	margin: 0 auto 30px;
	@media (min-width: 768px) {
		order: 1;
		width: 5 * 8.33%;
		margin-left: 30px;
	}
}
.header__form {
	@media (min-width: 768px) {
		width: 7 * 8.33%;
	}
}
.form__input {
	width: 100%;
	padding: 20px;
	border: none;
	line-height: 0.9;
	text-align: center;
	background-color: rgb(255, 255, 255);
}

.form__submit {
	width: 100%;
	padding: 20px;
	background-color: $accentColor;
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	border: none;
}
