.finish {
  display: none;
  &__logo {
    margin-top: 50px;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 56px;
    color: $blue;
  }
  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: $gray;
    margin-top: 10px;
  }
}

.finish__btn {
  margin-top: 60px;
}