:root {
  /* --bg-color-primary: #0e0e0e; */
  
  --color-white: #fff;
  --color-black: #000;

  --margin-m: 20px;

  --border-radius-s: 3px;

  /* THEME */
  --bg-dark: #0e0e0e;
  --bg-light: #fff;
  --bg-neutral: #cecece;

  --theme-dark-elem:    gold;
  --theme-light-elem:   #000;
  --theme-neutral-elem: #f00;
  --theme-default-elem: var(--theme-dark-elem);

  --theme-dark-bg: #0e0e0e;
  --theme-light-bg: #f9f5f5;
  --theme-neutral-bg: #c0c0c0;
  --theme-default-bg: var(--theme-dark-bg);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: var(--theme-default-bg);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--theme-default-elem);
  border-radius: 3px;
}

